
/* 
This is only for color reference no where it i imported 
Dont use this css file anywhere
 */
 
body{
    /* line */
    background:#113366;
    background:#EC1616;
    background:#EC1616;
    background:#F1239F;
    background:#2F80ED;
    background:#98459B;
    background:#113366;
    background:#00FC19;
    background:#F39912;

    /* background */
    background :#283A45;
}